<div class="col-sm-12">
    <div class="row lead-info">
        <div class="col-sm-12 col-md-4">
            <img ng-src="{{Character.thumbnail.path}}.{{Character.thumbnail.extension}}" class="img-thumbnail col-sm-12" />
        </div>
        <div class="col-sm-12 col-md-8">
            <h1 ng-bind="Character.name" class="text-center"></h1>
            <table>
                <tr>
                    <th>Last Modified:</th>
                    <td ng-bind="Character.modified"></td>
                </tr>
                <tr>
                    <th>About:</th>
                    <td ng-bind-html="Character.description"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row lists">
        <div class="col-sm-6 stories">
            <h3>Stories</h3>
            <ul>
                <li ng-repeat="Item in Character.stories.items" ng-bind="Item.name"></li>
            </ul>
        </div>
        <div class="col-sm-6 series">
            <h3>Series</h3>
            <ul>
                <li ng-repeat="Item in Character.series.items" ng-bind="Item.name"></li>
            </ul>
        </div>
    </div>
</div>
